<div class="flex">
  <div class='w-5/12 border-2 border-yellow-400'>
    <ul>
      <li class='bg-indigo-700 bg-opacity-50'>
        <%= link_to profile_path(current_user), class: "inblock" do %>
          <div class="flex items-center justify-center w-8 h-8 mr-4 overflow-hidden bg-gray-300 rounded-full ">
            <i class="fa-solid fa-user"></i>
          </div>
          <div>
            <%= current_user.username %></span>
          </div>
        <% end %>
      </li>
    </ul>
  </div>

  <div class='w-full text-center'>
    <div class='mx-16 '>
      <h1 class="text-blue-900">ARTICLE</h1>
      <%= link_to '新增文章', new_article_path %>

      <%= render @articles %>
    </div>
  </div>
  
  <div class='w-5/12 border border-red-500'>
    RIGHT_BAR
  </div>
  
</div>